<!doctype html>
<html lang="en" data-framework="marionettejs">

<head>
	<meta charset="utf-8">
	<title>Petster</title>
	<!-- Bootstrap core CSS -->
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
	 crossorigin="anonymous">
	<!-- Custom styles for this template -->
	<link href="petster.css" rel="stylesheet">
</head>

<body>
	<section class="todoapp">
		<header id="theheader" class="header d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm"></header>
		<section class="main container"></section>
	</section>

	<script type="text/html" id="template-header">
		<div class="my-0  font-weight-normal"><img class="headerlogo" src="http://www.austinhumanesociety.org/wp-content/themes/pets/sites/default/files/custom-logo-img-home_1.png"
			 alt="Austin Humane society" /> </div>
		<nav class="dogsorcats">
			<a class="p-2 text-dark" href="#">Dogs</a>
			<a class="p-2 text-dark" href="#">Cats</a>

		</nav>
	</script>


	<script type="text/html" id="template-todoItemView">
		<div class="view">
			<input class="toggle" type="checkbox" <% if (completed) { %>checked
			<% } %>>
				<label><%- title %></label>
				<button class="destroy"></button>
		</div>
		<input class="edit" value="<%- title %>">
	</script>


	<script type="text/html" id="template-viewpet">
		<div class="row justify-content-md-center">
			<div class="col col-lg-2">

			</div>
			<div class="col-md-auto">
				<h1 class="h3 mb-3 font-weight-normal center">
					<%= pet.name %>
				</h1>
				<img class="animalpic" src="<%= pet.img %>">
				<div class="infobox">

					<button class="btn btn-lg btn-link votebtn upvote"><i class="fa fa-thumbs-up"></i></button>
					<button class="btn btn-lg btn-link votebtn downvote"><i class="fa fa-thumbs-down"></i></button>

					<table id="detail-table">
						<tbody>
							<tr>
								<td class="detail_text">ANIMAL NUMBER:</td>
								<td class="description-text">39701802</td>
							</tr>
							<tr>
								<td class="detail_text">BREED:</td>
								<td class="description-text">Domestic Shorthair</td>
							</tr>
							<tr>
								<td class="detail_text">SEX:</td>
								<td class="description-text">Male</td>
							</tr>
							<tr>
								<td class="detail_text">DOB:</td>
								<td class="description-text">06/18/2018</td>
							</tr>
							<tr>
								<td class="detail_text">AGE:</td>
								<td class="description-text">3 months</td>
							</tr>
							<tr>
								<td class="detail_text">WEIGHT:</td>
								<td class="description-text">2 pounds</td>
							</tr>
							<tr>
								<td class="detail_text">COLOR:</td>
								<td class="description-text">Black</td>
							</tr>
							<tr>
								<td class="detail_text">LOCATION:</td>
								<td class="description-text">Cattery</td>
							</tr>
							<tr>
								<td class="detail_text">ADOPTION FEE:</td>
								<td class="description-text">
									$100.00 </td>
							</tr>

						</tbody>
					</table>

					<button class="btn btn-lg btn-link votebtn upvote"><i class="fa fa-thumbs-up"></i></button>
					<button class="btn btn-lg btn-link votebtn downvote"><i class="fa fa-thumbs-down"></i></button>
				</div>
			</div>

			<div class="col col-lg-2 offset-lg-1">
				<ul class="likedpets">
					<li title="Roofus" data-petid="123"> <img src="http://g.petango.com/photos/652/7fcc3051-19d1-48f2-8e09-8e00650b21bd.jpg" /> </li>
					<li title="Rover" data-petid="123"> <img src="http://g.petango.com/photos/652/cb945796-1da9-41c5-83f9-f30c2630d625.jpg" /> </li>
					<li title="Clifford" data-petid="123"> <img src="http://g.petango.com/photos/652/65983985-8645-4214-b97c-20d1f2774ca2.jpg" /> </li>
					<ul>


			</div>
	</script>
	<!-- vendor libraries -->
	<script src="node_modules/todomvc-common/base.js"></script>
	<script src="node_modules/jquery/dist/jquery.js"></script>
	<script src="node_modules/underscore/underscore.js"></script>
	<script src="node_modules/backbone/backbone.js"></script>
	<script src="node_modules/backbone.localstorage/backbone.localStorage.js"></script>
	<script src="node_modules/backbone.radio/build/backbone.radio.js"></script>
	<script src="node_modules/backbone.marionette/lib/backbone.marionette.js"></script>
	<!-- application -->
	<script src="js/TodoMVC.Application.js"></script>
	<script src="js/TodoMVC.Todos.js"></script>
	<script src="js/TodoMVC.Layout.js"></script>
	<script src="js/TodoMVC.ViewPet.Views.js"></script>
	<script src="js/TodoMVC.Router.js"></script>
	<script src="js/TodoMVC.FilterState.js"></script>
	<script src="js/TodoMVC.js"></script>
</body>

</html>